@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

img.gravatar{
	border-radius: 50%;
	width: auto;
	height: auto;
}

div.row{
	width: 500px;
}

.list-group{
	color: BLACK; 
	width: 400px;
}

/* avatar style */
.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 14px Arial, sans-serif;
}

/* grid styles */
.grid {
    clear: both;
    width: 100%;
    padding: 2.5% 0 0 0;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

/* Basic Styles */
body {
	/*background-color: #ece8e5;*/
	background-image:url("/default/background.jpeg");
	background-repeat:no-repeat;
	background-size:cover;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0px;
	border: 0;
	padding: 0;
}

/* Navigator Styles */
.navbar:before, .navbar:after {
    content: " ";
    display: table;
}
.navbar:after {
    clear: both;
}

nav {
	height: 65px;
	width: 100%;
	background: #ffb804;
	font-size: 14pt;
	font-weight: bold;
	position: relative;
	border-bottom: solid #ffb804;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 65px;
}
nav li {
	display: inline;
}

img.navbar{
	width: 100px;
	height: 65px;
}

ul.navbar{
	display: block;
	float: right;
}
nav a {
	color: #ffff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 62px;
}
nav li a {
	box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a:hover, nav a:active {
	background-color: #fff400;
	color: #e50b1b;
}
nav a#pull {
	display: none;
}

/* forms */
input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
}
  
input {
	height: auto !important;
}

/* buttons */
.myButton {
	background-color:#44c767;
	-moz-border-radius:42px;
	-webkit-border-radius:42px;
	border-radius:42px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:23px;
	padding:13px 54px;
	text-decoration:none;
}

.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* items list*/
.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
